@charset "UTF-8";
/* CSS Document */

.testing_button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #731e1e;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.main_bg{

	-fx-background-color : #cacaca; 

}

.main_bg_header_buttons{
	
	-fx-background-color : #b6b6b6 ;
	
	
	
	
	-fx-background-color: 
        #a3a3a3,
        linear-gradient(#8a8a8a 0%, #737475 20%, #adadad 100%),
        linear-gradient(#929292, #bcbcbc),
        radial-gradient(center 50% 0%, radius 100%, rgba(164,165,168,0), rgba(190,191,192,0));
    /*-fx-background-radius: 5,4,3,5;*/
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-effect: dropshadow(three-pass-box, grey, 1, 0, 0, 1);
	
}

.testing_button:hover {
    -fx-background-color: #3a3a3a;
}

.testing_button:pressed, .testing_button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.testing_button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.testing_button:disabled, .testing_button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.main_sketch_window_tab_pane{

	 -fx-background-radius: 5.0;
	 -fx-background-color:#FFF ;
	 -fx-effect: dropshadow(three-pass-box, grey, 4, 0.2, 0, 0);
}

.tab-pane{
	-fx-background-color:#FFF ;
	
}

.main_sketch_window{

	-fx-background-color:#FFF ;
	 -fx-background-radius: 0 0 10 10;
}


.tab-content-area 
{
-fx-background-color:#ffffff ; 
}

.tab{
	
	}
	
.tab-pane:top *.tab-header-area {
   
	
	-fx-background-color:#ffffff ; 
}

.main_sketch_window_tab_pane .tab-pane:top *.tab-header-area {
   
	-fx-border-width: 0 0 1 0 ;
	-fx-border-insets: 0 0 2 0  ;
	-fx-border-color:#999 ;
	-fx-background-color:#ffffff ; 
}


.firstFlowControlTab{

	
}

.control_scroll_pane{

	-fx-background-color:transparent;
	-fx-background-radius:5 ;
	
}

.sketch_scroll_pane{

	-fx-background-color:transparent;
	-fx-background-radius:5 ;
	
}

.address .scroll-pane {
  -fx-background-color: transparent;
}

.address .scroll-bar .increment-button {
  visibility: hidden;
}

.address .scroll-bar .decrement-button {
  visibility: hidden;
}

.address .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.address .scroll-bar:vertical .track-background {
  visibility: hidden;
}

.address .scroll-bar:vertical .track {
  visibility: hidden;
}

.address .hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}

/*.increment-button , .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(gray,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

*/

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 10;
	-fx-border-radius:2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}


.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
	-fx-shape: " ";	
	-fx-padding:0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,80%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

.testing_menu_tabs{

	-fx-background-color:#33C ;
}


.testing_menu_tabs2{

	-fx-background-color:#FC3 ;
}

.create_new_button{

	 -fx-background-color:transparent ;
	 -fx-background-image:url('../graphics/new_project_image.png') ;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
	 
}

.open_project_button{

	 -fx-background-color:transparent ;
	 -fx-background-image:url('../graphics/open_icon.png') ;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
	 
}

.save_project_button{

	 -fx-background-color:transparent ;
	 -fx-background-image:url('../graphics/save_icon.png') ;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
	 
}


.print_code_button{

	 -fx-background-color:transparent ;
	 -fx-background-image:url('../graphics/printer-icon.png') ;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
	 
}


.undo_project_button{

	 -fx-background-color:transparent ;
	 -fx-background-image:url('../graphics/undo-5-256.png') ;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
	 
}


.debug_button{

	 -fx-background-color:transparent ;
	 -fx-background-image:url('../graphics/debug.png') ;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
	 
}

.upload_button{

	 -fx-background-color:transparent ;
	 -fx-background-image:url('../graphics/upload.png') ;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
	 
}


.redo_project_button{

	 -fx-background-color:transparent ;
	 -fx-background-image:url('../graphics/redo.png') ;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
	 
}


.toggle-button{

	-fx-background-image: url('../graphics/testing_image2.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.seperator{

	-fx-border-style:dotted ;
	-fx-border-color:#000 ;
	-fx-background-color:#000 ;
}


.search_box{

	-fx-background-radius: 2em;
	
}

.search_box_container{

	-fx-background-position: center;
	
}

.modItem{

	
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-insets: 0, 1, 2;
	-fx-backgroung:#000 ;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
	-fx-width:200 ;
	-fx-opacity:0.5 ;
	-fx-text-fill: rgba(255,0,0,0.5) ;
}
